<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmManagement">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.PrincipalGestorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PrincipalFuncionarioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.RegistrarProducaoDiariaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.RelatorioMensalActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ListaDeAnimaisActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ControleDieselActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ControleFolgasFuncionarioActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.HistoricoFolgasActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.RegistrarNascimentoActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.SolicitacoesPendentesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HistoricoAbastecimentosActivity"
            android:exported="false" />

    </application>

</manifest>